@import '../../../../App.scss';

.eval-final {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		margin-bottom: 4rem;
	}

	&__title {
		font-family: $font-secondary;
		font-size: 3rem;
		padding-right: 2rem;
	}

	&__icon {
		font-size: 5rem;
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: 50%;
		background-color: $color-primary-transparent;
		border-radius: 5px;

		@media only screen and (max-width: $bp-medium) {
			width: 90%;
		}
	}

	&__box-score {
		margin-bottom: 3rem;
	}

	&__level {
		margin-bottom: 3rem;

		p {
			font-size: 3rem;
			font-weight: 600;
		}
	}
}
