.btn-primary {
	background-color: $color-primary;
	color: #fff;
	border: none;
	border-radius: 1rem;
	font-family: $font-secondary;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 1rem 4rem;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		filter: brightness(110%);
	}
}

.btn-secondary {
	background-color: transparent;
	color: $color-secondary;
	border: 2px solid;
	border-radius: 1rem;
	font-family: $font-secondary;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 1rem 4rem;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		background-color: $color-secondary;
		color: #fff;
		border: 2px solid $color-secondary;
		border-radius: 1rem;
		font-family: $font-secondary;
		font-size: 1.5rem;
		font-weight: 500;
		padding: 1rem 4rem;
		cursor: pointer;
		transition: all 0.2s;
	}
}

.btn-secondary-green {
	background-color: transparent;
	color: $color-primary;
	border: 2px solid;
	border-radius: 1rem;
	font-family: $font-secondary;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 1rem 4rem;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		background-color: $color-primary;
		color: #fff;
		border: 2px solid $color-primary;
		border-radius: 1rem;
		font-family: $font-secondary;
		font-size: 1.5rem;
		font-weight: 500;
		padding: 1rem 4rem;
		cursor: pointer;
		transition: all 0.2s;
	}
}

.btn-tertiary {
	background-color: $color-red;
	color: #fff;
	border: none;
	border-radius: 1rem;
	font-family: $font-secondary;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 1rem 4rem;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		filter: brightness(110%);
	}
}
