@import '../../../App.scss';

.footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0 5rem;
	height: 35vh;

	&__item-1 {
		width: 25%;

		p {
			font-size: 1.4rem;
			padding: 0.4rem 0;
		}

		@media only screen and (max-width: $bp-medium) {
			order: 2;
			margin-bottom: 1rem;
		}
	}

	&__item-2 {
		width: 60%;
		text-align: center;

		.icon {
			width: 3rem;
			height: 3rem;
			margin: 2rem 2rem;
			fill: $color-primary;
		}

		@media only screen and (max-width: $bp-medium) {
			order: 1;
		}
	}

	&__logo {
		font-family: $font-primary;
		font-size: 4.8rem;
		color: $color-primary;
	}

	&__item-3 {
		width: 25%;
		text-align: right;
		li {
			padding: 0.6rem 0;
		}

		a {
			font-size: 1.4rem;
			text-decoration: underline;
		}

		@media only screen and (max-width: $bp-medium) {
			text-align: center;
			order: 3;
		}
	}

	@media only screen and (max-width: $bp-medium) {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}
