@import '../../../../App.scss';

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, $alpha: 0.4);
	z-index: 999;
}

.modal-box {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
	background-color: #fff;
	padding: 5rem;
	border-radius: 1rem;
	@include box-shadow-primary;
	z-index: 1000;

	@media only screen and (max-width: $bp-large) {
		width: 50%;
	}

	@media only screen and (max-width: $bp-medium) {
		width: 75%;
	}

	&__title {
		font-family: $font-secondary;
		font-size: 2.8rem;
		text-align: center;
		padding-bottom: 3rem;
	}

	&__buttons {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}
}
