@import '../../../../App.scss';

.sign-up {
	&__form {
		display: flex;
		justify-content: center;
		font-size: 1.4rem;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: auto;
		padding-bottom: 4.5rem;
	}

	&__input-container {
		height: auto;
		width: 75%;
	}

	&__form-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 75%;
		margin-top: 3rem;

		button {
			padding: 1rem 7rem;
		}
	}

	&__terms {
		font-size: 1.1rem;
		width: 50%;
		a {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}
