@import '../../../App.scss';

.header-lg-si {
	display: flex;
	align-items: center;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	padding: 0.5rem 0 0.5rem 4rem;

	#header-lg-si__logo {
		font-size: 3.8rem;
	}
}
