@import '../../../App.scss';

.forgot-pass {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 60rem;
		height: auto;
		background-color: #fff;
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
		padding: 10rem 0;
	}

	&__heading {
		font-family: $font-secondary;
		font-weight: 400;
		font-size: 3.5rem;
		padding: 2.5rem 0;
	}

	&__error {
		display: flex;
		align-items: center;
		justify-content: center;
		height: auto;
		padding: 1.2rem 2rem;
		width: 75%;
		background-color: $color-red;
		border-radius: 5px;
		margin-bottom: 5px;

		span {
			font-size: 1.8rem;
			color: #fff;
		}
	}

	&__success {
		display: flex;
		align-items: center;
		height: auto;
		padding: 1.2rem 1.5rem;
		width: 75%;
		background-color: $color-secondary;
		border-radius: 5px;
		margin-bottom: 5px;

		span {
			font-size: 1.6rem;
			color: #fff;
		}
	}

	&__return {
		text-decoration: underline;
		color: #fff;
		font-size: 1.2rem;
		padding: 0 2rem;
	}

	&__form {
		display: flex;
		justify-content: center;
		font-size: 1.4rem;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: auto;
		padding-bottom: 4.5rem;
		cursor: pointer;
	}

	&__label {
		width: 75%;
		text-align: left;
		padding-top: 1rem;
	}

	&__input {
		display: block;
		border-radius: 0.5rem;
		border: 1px solid $color-blue-dark;
		width: 100%;
		margin-top: 0.5rem;
		height: 4.2rem;
		font-size: 2rem;
		padding: 0 1rem;

		&:focus {
			outline: none;
			box-shadow: 0 1rem 2rem rgba(#000, 0.1);
			border: 2px solid $color-primary;
		}
	}

	&__form-footer {
		display: flex;
		width: 75%;
		margin-top: 2rem;
	}

	&__reset {
		margin-right: 3rem;
	}
}
