@import '../../../App.scss';

.side-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #dff0ed;
	height: 100%;
	width: 15%;
	z-index: 800;

	@media only screen and (max-width: $bp-large) {
		position: fixed;
		flex-direction: row;
		height: 10%;
		width: 100%;
		justify-content: flex-start;
		align-items: flex-end;
		overflow: hidden;
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 10%;
		width: 100%;
		font-size: 3.8rem !important;
		margin-bottom: 2rem;

		@media only screen and (max-width: $bp-large) {
			display: none;
		}
	}

	&__tab {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: 15%;
		padding-right: 3rem;
		cursor: pointer;
		transition: all 0.2s;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		&:hover {
			background-color: #dff0ed;
			filter: brightness(95%);
		}

		&:focus {
			background-color: #dff0ed;
			border-left: solid 4px $color-primary-dark;
			filter: brightness(95%);
			outline: none;
		}

		@media only screen and (max-width: $bp-large) {
			height: 100%;
			width: auto;
			padding-right: 0;

			&:not(:last-child) {
				margin-bottom: 0;
			}

			&:focus {
				background-color: #dff0ed;
				border-left: none;
				border-bottom: solid 4px $color-primary-dark;
				filter: brightness(95%);
				outline: none;
			}
		}
	}

	&__icon {
		height: 60%;
		width: 28%;
	}

	&__icon--checkbox {
		height: 60%;
		width: 25%;
	}

	&__text {
		font-size: 1.6rem;
		width: 30%;

		@media only screen and (max-width: $bp-large) {
			display: none;
		}
	}
}
