@import '../../../App.scss';

.banner-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color-primary-dark;
	margin-top: 10rem;
	height: 30rem;

	&::before {
		content: '';
		position: absolute;
		height: 25%;
		width: 100%;
		background-image: url('../../../assets/high-res/banner-border.png');
		background-repeat: no-repeat;
		transform: translate(0, -60%);

		@media only screen and (max-width: $bp-medium) {
			transform: translate(0, -45%);
		}
	}

	&__item {
		text-align: center;
		color: #fff;
		z-index: 1000;

		button {
			margin-top: 2rem;
		}
	}
}
