@import '../../../../App.scss';

.eval {
	&__title-wrapper {
		display: flex;
		width: 100%;
		height: 100%;
		padding-top: 4rem;

		@media only screen and (max-width: $bp-medium) {
			padding-top: 2rem;
			justify-content: center;
		}
	}

	&__title {
		height: 100%;
		display: flex;
		align-items: center;
		font-family: $font-secondary;
		font-size: 4rem;

		@media only screen and (max-width: $bp-large) {
			justify-content: center;
			align-items: flex-start;
		}

		@media only screen and (max-width: $bp-large) {
			text-align: center;
		}
	}

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		height: auto;
		width: 100%;
		text-align: center;
	}

	&__card {
		display: flex;
		flex: 0 50%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 25rem;

		@media only screen and (max-width: $bp-medium) {
			flex: 100%;
			width: 100%;
		}
	}

	&__card-icon {
		width: 35%;
		height: 35%;
		transform: translate(0, 50%);
		z-index: 0;
	}

	&__card-content-reading {
		@include eval-cards;
		background-color: $color-red-transparent;
		position: relative;
		overflow: hidden;

		&::after {
			display: none;
		}
	}

	&__card-content-writing {
		@include eval-cards;
		background-color: $color-tertiary-transparent;
		position: relative;
		overflow: hidden;
	}

	&__card-content-listening {
		@include eval-cards;
		background-color: $color-secondary-transparent;
		position: relative;
		overflow: hidden;
	}

	&__card-content-speaking {
		@include eval-cards;
		background-color: $color-green-transparent;
		position: relative;
		overflow: hidden;
	}

	&__btn-box {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 88%;
		height: 12rem;

		@media only screen and (max-width: $bp-large) {
			align-items: flex-start;
			padding-top: 5rem;
			height: 50%;
			width: 75%;
		}
	}
}
