@mixin box-shadow-primary {
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.08);
}

@mixin eval-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 100%;
	border-radius: 1.5rem;

	@media only screen and (max-width: $bp-medium) {
		width: 100%;
	}

	&::after {
		position: absolute;
		content: 'Coming Soon';
		top: 2rem;
		right: -3rem;
		padding: 0.5rem;
		width: 12rem;
		background: $color-secondary;
		color: white;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
		transform: rotate(45deg);
	}
}

@mixin practice-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 100%;
	border-radius: 1.5rem;
	transition: ease-in 0.2s;
	// cursor: pointer;

	@media only screen and (max-width: $bp-medium) {
		width: 100%;
	}

	&::after {
		position: absolute;
		content: 'Coming Soon';

		top: 2rem;
		right: -3rem;
		padding: 0.5rem;
		width: 12rem;
		background: $color-secondary;
		color: white;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
		transform: rotate(45deg);
	}

	// TODO Add back when practice features have been added
	// &:hover {
	// 	width: 90%;
	// }
}
