// COLOR VARIABLES
$color-primary: #77aca2;
$color-primary-dark: #468189;
$color-primary-transparent: rgba(119, 172, 162, 0.17);
$color-secondary: #8b6794;
$color-secondary-transparent: rgba(139, 103, 148, 0.15);
$color-tertiary: #ebd76f;
$color-tertiary-transparent: rgba(235, 215, 111, 0.15);

$color-red: #e47777;
$color-red-transparent: rgba(228, 119, 119, 0.25);

$color-green-transparent: rgba(90, 203, 149, 0.2);

$color-blue-dark: #133557;
$color-blue-dark-secondary: #40556c;
$color-blue-dark-transparent: rgba(19, 53, 87, 0.12);

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Carter One', cursive;
$font-secondary: 'Poppins', sans-serif;

// REPONSIVE BREAKPOINTS
$bp-largest: 90em; // 1440px
$bp-large: 64em; // 1024px
$bp-medium: 48em; // 768px
$bp-small: 26.5625em; // 425px

.active {
	background-color: none;
}
