@import '../../App.scss';

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.dashboard {
	display: flex;
	width: 95%;
	height: 95%;
	border-radius: 10px;
	overflow: hidden;
	@include box-shadow-primary;

	@media only screen and (max-width: $bp-large) {
		flex-direction: column-reverse;
		width: 100%;
		height: 100%;
		border-radius: 0;
		box-shadow: none;
		overflow: visible;
	}

	&__main {
		width: 100%;
		height: 100%;
	}
}
