@import '../../../App.scss';

.hero {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 0 7rem;

	&__content {
		h1 {
			margin-bottom: 2rem;
			line-height: 1.7;
			white-space: nowrap; // BUG This is the responsive img problem
		}

		p {
			font-size: 2rem;
			font-weight: 500;
			margin-bottom: 3rem;
			padding-right: 10rem;
			line-height: 1.8;
		}

		@media only screen and (max-width: $bp-medium) {
			margin-bottom: 4rem;

			p {
				padding: 0;
			}
		}
	}

	&__icon {
		width: 15rem;
		transform: translate(0, 18%);
	}

	// BUG Button hover effect showing in dev tools, but not working
	&__get-started {
		margin-right: 4rem;
	}

	&__img {
		height: 55rem;
		width: auto;
	}

	@media only screen and (max-width: $bp-medium) {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	@media only screen and (max-width: $bp-large) {
		&__icon {
			transform: translate(0, 28%);
		}
	}
}
