@import '../../../App.scss';

.hero {
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	height: 100%;
	width: 100%;

	@media only screen and (max-width: $bp-large) {
		margin-top: 10rem;
	}

	&__content-wrapper {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 50%;

		@media only screen and (max-width: $bp-medium) {
			justify-content: center;
			width: 100%;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 85%;
		height: auto;

		@media only screen and (max-width: $bp-medium) {
			align-items: center;
		}

		h1 {
			margin-bottom: 2rem;
			line-height: 1.6;
			white-space: nowrap;

			@media only screen and (max-width: $bp-largest) {
				font-size: 4rem;
			}

			@media only screen and (max-width: $bp-medium) {
				text-align: left;
			}
		}

		p {
			font-size: 2rem;
			font-weight: 500;
			margin-bottom: 3rem;
			line-height: 1.8;
			width: 80%;
		}

		@media only screen and (max-width: $bp-medium) {
			margin-bottom: 4rem;
		}
	}

	&__icon {
		position: absolute;
		width: 13rem;
		height: auto;
		// margin-bottom: -4rem;
		transform: translate(0, -43%);

		@media only screen and (max-width: $bp-large) {
			transform: translate(0, -43%);
		}
	}

	&__button-wrapper {
		display: flex;
		height: 100%;
		width: 100%;

		@media only screen and (max-width: $bp-medium) {
			justify-content: center;
		}
	}

	&__get-started {
		margin-right: 4rem;
	}

	&__img-wrapper {
		text-align: center;
		width: 50%;

		@media only screen and (max-width: $bp-medium) {
			width: 100%;
		}
	}

	&__img {
		height: auto;
		width: 100%;
	}

	@media only screen and (max-width: $bp-medium) {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
}
