@import '../../../App.scss';

.hero {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 0 7rem;

	&__content {
		h1 {
			margin-bottom: 2rem;
			line-height: 1.7;
			white-space: nowrap;
		}

		p {
			font-size: 2rem;
			font-weight: 500;
			margin-bottom: 3rem;
			padding-right: 10rem;
			line-height: 1.8;
		}
	}

	&__icon {
		width: 30%;
		transform: translate(0, 10%);
	}

	&__get-started {
		margin-right: 4rem;
	}

	&__learn-more {
	}

	&__img {
		height: 60rem;
	}
}
