@import '../../../App.scss';

.results {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 90%;

	&__title {
		font-size: 3rem;
		font-family: $font-secondary;
		display: flex;
		align-items: center;
		width: 100%;
		height: 20%;
		padding-left: 8rem;
		margin-bottom: -15rem;
	}

	&__icon {
		width: 25%;
		height: 50%;
		transform: translate(115%, 60%);

		@media only screen and (max-width: $bp-medium) {
			transform: translate(290%, 50%);
		}
	}

	&__card {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30rem;
		width: 50%;
		text-align: center;

		@media only screen and (max-width: $bp-medium) {
			width: 100%;
		}

		&-box {
			@include eval-cards;
			height: 35rem;
			padding: 3rem;
			background-color: $color-red-transparent;
		}

		&-title {
			display: flex;
			height: 10%;
			width: 100%;
			font-size: 2.4rem;
			font-weight: 700;
			padding-left: 2rem;
			margin-bottom: -2rem;
		}

		&-table {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 80%;
		}

		&-table__header {
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 100%;
			height: 20%;
			font-size: 1.6rem;
		}

		&-table__body {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			height: 50%;
			font-size: 1.5rem;
			font-weight: 600;
			overflow-x: hidden;
			overflow-y: scroll;

			&-data {
				display: flex;
				justify-content: space-around;
				align-items: center;

				& > * {
					width: 100%;
				}

				&:not(:last-child) {
					padding-bottom: 2rem;
				}
			}
		}
	}
}
