@import '../../../../App.scss';

.practice {
	&__title-wrapper {
		display: flex;
		width: 100%;
		height: 100%;
		padding-top: 4rem;

		@media only screen and (max-width: $bp-large) {
			padding-bottom: 0;
		}

		@media only screen and (max-width: $bp-medium) {
			padding-top: 2rem;
			padding-bottom: 0;
			justify-content: center;
		}
	}

	&__title {
		height: 100%;
		display: flex;
		align-items: center;
		font-family: $font-secondary;
		font-size: 4rem;

		@media only screen and (max-width: $bp-large) {
			justify-content: center;
			align-items: flex-start;
		}

		@media only screen and (max-width: $bp-large) {
			text-align: center;
		}
	}

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		height: 100%;
		width: 100%;
		text-align: center;
	}

	&__card {
		flex: 0 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 25rem;

		@media only screen and (max-width: $bp-medium) {
			flex: 100%;
		}
	}

	&__card-icon {
		width: 35%;
		height: 35%;
		transform: translate(0, 50%);
		z-index: 0;
	}

	&__card-content-reading {
		position: relative;
		@include practice-cards;
		background-color: $color-red-transparent;
		overflow: hidden;
	}

	&__card-content-writing {
		position: relative;
		@include practice-cards;
		background-color: $color-tertiary-transparent;
		overflow: hidden;
	}

	&__card-content-listening {
		position: relative;
		@include practice-cards;
		background-color: $color-secondary-transparent;
		overflow: hidden;
	}

	&__card-content-speaking {
		position: relative;
		@include practice-cards;
		background-color: $color-green-transparent;
		overflow: hidden;
	}

	&__card-arrow {
		width: 10%;
		height: auto;
		margin-left: 0.5rem;
	}

	&__spacer-box {
		display: flex;
		width: 88%;
		height: 5%;

		@media only screen and (max-width: $bp-large) {
			padding-top: 5rem;
			height: 30%;
			width: 50%;
		}
	}
}
