@import '../../../../App.scss';

.quiz-footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 50%;
	height: 30%;

	&__question-count {
		p {
			font-size: 2rem;
			font-weight: 600;
		}
	}
}
