@import '../../../../App.scss';

.top {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 20%;

	&__icon-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 0%;
		height: 100%;
	}

	&__cancel-btn {
		width: 2.5rem;
		height: auto;
		stroke: $color-blue-dark;
	}
}
