@import '../../../App.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2rem;

	&__logo-container {
		margin-left: 7rem;
	}

	&__logo {
		font-family: $font-primary;
		font-size: 4.8rem;
		color: $color-primary;
	}

	&__btn-container {
		margin-right: 7rem;

		@media only screen and (max-width: $bp-largest) {
			margin-right: 2rem;
		}
	}

	&__log-in {
		margin-right: 3rem;
	}
}
