@import '../../../../App.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 10%;
}

.top-menu {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	padding-right: 5rem;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	background-color: #fff;
	z-index: 800;

	@media only screen and (max-width: $bp-large) {
		position: fixed;
		flex-direction: row;
		height: 10%;
		width: 100%;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		padding: 0 5rem;
	}

	&__logo {
		display: none;

		@media only screen and (max-width: $bp-large) {
			display: flex;
			align-items: center;
			height: 100%;
			width: 100%;
			font-size: 3.8rem !important;
		}
	}

	&__profile {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		cursor: pointer;
	}

	&__profile-img {
		max-width: 4rem;
		margin-right: 1rem;
		border-radius: 100%;
	}

	&__profile-name {
		padding: 0;
		margin: 0;
		line-height: 1.8;
		height: 100%;
		font-size: 1.4rem;
		padding-right: 1rem;
	}

	&__arrow-icon {
		height: 100%;
		min-width: 1.4rem;
		max-width: 1.4rem;
	}
}
