@import '../../../../App.scss';

.account-sett {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 90%;

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		padding-top: 2rem;
	}

	&__body-title {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 90%;
		height: auto;
		margin-bottom: -4rem;

		h3 {
			font-size: 2.5rem;
		}
	}

	&__form {
		display: flex;
		flex-wrap: wrap;
		width: 90%;
		height: 100%;

		&-container-1 {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
			width: 50%;
			height: 60%;

			& > * {
				width: 95%;

				@media only screen and (max-width: $bp-medium) {
					width: 100%;
				}
			}

			@media only screen and (max-width: $bp-medium) {
				align-items: flex-start;
				height: auto;
				width: 100%;
			}
		}

		&-container-2 {
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			width: 50%;
			height: 60%;

			& > * {
				width: 95%;

				@media only screen and (max-width: $bp-medium) {
					width: 100%;
				}
			}

			@media only screen and (max-width: $bp-medium) {
				align-items: flex-start;
				height: auto;
				width: 100%;
			}
		}

		&-footer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 5rem;
			z-index: 0;

			&-container-1 {
				display: flex;
				align-items: center;
				height: 100%;
				width: 50%;
			}

			&-container-2 {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				height: 100%;
				width: 50%;
			}
		}
	}

	&__delete {
		color: rgb(184, 53, 53);
		text-decoration: underline;
		cursor: pointer;
		font-size: 1.2rem;

		&:hover {
			color: rgb(184, 53, 53);
		}
	}
}
