@import '../../../App.scss';

.log-out {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, $alpha: 0.4);

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 35%;
		height: 60%;
		justify-content: center;
		background-color: #fff;
		padding: 5rem;
		@include box-shadow-primary;
	}

	&__title {
		font-family: $font-secondary;
		font-size: 2.8rem;
		text-align: center;
		padding-bottom: 3rem;
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
}
