@import '../../../../App.scss';

.dropdown {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	width: 100%;
	height: 75%;
	top: 12%;
	right: 3%;
	padding: 1rem 1rem;
	z-index: 900;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 22rem;
		height: 25rem;
		padding: 4rem 3rem 0 3rem;
		border-radius: 1rem;
		background-color: #fff;
		@include box-shadow-primary;
	}

	&__item {
		text-align: center;
		font-size: 1.4rem;
		font-weight: 500;
		margin-bottom: 3rem;

		&:hover {
			text-decoration: underline;
		}
	}

	&__log-out {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: 10%;
		cursor: pointer;
	}

	&__item--log-out {
		font-size: 1.2rem;
		font-weight: 300;
		padding: 0;
		margin: 0;
		color: $color-grey-light-2;
	}

	&__icon {
		height: 60%;
		width: 10%;
		margin-right: 0.5rem;
	}
}
