@import '../../../App.scss';

.main-section {
	margin-top: 10rem;

	&__row-1 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: auto;
		margin-bottom: -5rem;

		@media only screen and (max-width: $bp-medium) {
			justify-content: center;
		}
	}

	&__row-2 {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: auto;
		margin-bottom: -2rem;

		@media only screen and (max-width: $bp-medium) {
			justify-content: center;
		}
	}

	&__row-3 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: auto;
		margin-bottom: -5rem;

		@media only screen and (max-width: $bp-medium) {
			justify-content: center;
		}
	}

	&__row-4 {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: auto;

		@media only screen and (max-width: $bp-medium) {
			justify-content: center;
		}
	}

	&__img-1 {
		height: 50rem;
		width: auto;
	}

	&__img-2 {
		height: 50rem;
		width: auto;
	}

	&__img-3 {
		height: 50rem;
		width: auto;
	}

	&__img-4 {
		height: 50rem;
		width: auto;
		@media only screen and (max-width: $bp-medium) {
			margin-bottom: -12rem;
		}
	}

	&__text {
		width: 39%;
		text-align: left;

		@media only screen and (max-width: $bp-medium) {
			text-align: center;
			margin: 5rem 0;
			width: 70%;
		}
	}
}
