@import '../../../../App.scss';

.side-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #dff0ed;
	height: 100%;
	width: 10%;
	z-index: 800;

	&__logo-wrapper {
		height: 6.8rem;
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		font-size: 3rem !important;

		&::before {
			content: 'evaly';
		}

		@media only screen and (max-width: $bp-medium) {
			&::before {
				content: 'e';
			}
		}
	}

	&__tab {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 10rem;
		cursor: pointer;
		transition: all 0.2s;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		&:hover {
			background-color: #dff0ed;
			filter: brightness(95%);
		}

		&--active {
			background-color: #dff0ed;
			border-left: solid 4px $color-primary-dark;
			filter: brightness(95%);
			outline: none;
		}

		@media only screen and (max-width: $bp-large) {
			width: auto;
			padding-right: 0;

			&:not(:last-child) {
				margin-bottom: 0;
			}
		}
	}

	&__icon {
		width: 4rem;

		@media only screen and (max-width: $bp-large) {
			width: 40%;
		}
	}

	&__icon--checkbox {
		width: 3.5rem;

		@media only screen and (max-width: $bp-large) {
			width: 35%;
		}
	}
}
