@import '../../../App.scss';

.log-in {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 91.3vh;

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 60rem;
		height: auto;
		background-color: #fff;
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	}

	&__header {
		font-family: $font-secondary;
		font-weight: 400;
		font-size: 4rem;
		padding: 2.5rem 0;
	}

	&__social {
		display: flex;
		margin-bottom: 2rem;
	}

	&__facebook-btn {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		min-width: 11rem;
		min-height: 4rem;
		margin-right: 1.5rem;
		padding: 1rem 1rem;
		color: #fff;
		border: none;
		cursor: pointer;
		background-color: #3b5998;
		border-radius: 0.7rem;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

		&:hover {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			min-width: 11rem;
			min-height: 4rem;
			margin-right: 1.5rem;
			padding: 1rem 1rem;
			color: #fff;
			border: none;
			background-color: #3b5998;
			border-radius: 0.7rem;
			filter: brightness(110%);
			box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
		}

		@media only screen and (max-width: $bp-largest) {
			min-width: 14rem;
		}
	}

	&__icon {
		width: 1.4rem;
		height: 1.4rem;
		fill: #fff;
	}

	&__google-btn {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		min-width: 10rem;
		min-height: 4rem;
		margin-left: 1.5rem;
		padding: 1rem 1rem;
		color: $color-blue-dark;
		border: none;
		background-color: #fff;
		border-radius: 0.7rem;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
		cursor: pointer;
		transition: ease-in 0.1s;

		&:hover {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			min-width: 10rem;
			min-height: 4rem;
			margin-left: 1.5rem;
			padding: 1rem 1rem;
			color: $color-blue-dark;
			border: none;
			background-color: #fff;
			border-radius: 0.7rem;
			box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
		}

		@media only screen and (max-width: $bp-largest) {
			min-width: 13rem;
		}
	}

	&__or {
		font-size: 1.4rem;
	}

	&__form {
		display: flex;
		justify-content: center;
		font-size: 1.4rem;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: auto;
		padding-bottom: 4.5rem;
	}

	&__forgot-pass {
		margin-top: 1rem;
		text-align: end;
		font-size: 1.2rem;
		color: $color-primary-dark;
		width: 75%;
	}

	&__forgot-pass:hover {
		margin-top: 1rem;
		text-align: end;
		text-decoration: underline;
		font-size: 1.2rem;
		color: $color-primary-dark;
		width: 75%;
	}

	&__label {
		width: 75%;
		text-align: left;
		padding-top: 1rem;
	}

	&__input {
		display: block;
		border-radius: 0.5rem;
		border: 1px solid $color-blue-dark;
		width: 100%;
		margin-top: 0.5rem;
		height: 4.2rem;
		font-size: 2rem;
		padding: 0 1rem;

		&:focus {
			outline: none;
			box-shadow: 0 1rem 2rem rgba(#000, 0.1);
			border: 2px solid $color-primary;
		}
	}

	&__form-footer {
		display: flex;
		justify-content: space-between;
		width: 75%;
		margin-top: 2rem;

		button {
			padding: 1rem 7rem;
		}
	}

	&__box-footer {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		height: 7rem;
		background-color: $color-primary-transparent;

		p {
			font-size: 1.4rem;
		}

		button {
			padding: 0.6rem 3rem;
			color: $color-primary-dark;
			font-size: 1.4rem;
		}

		button:hover {
			padding: 0.6rem 3rem;
			color: #fff;
			border: 2px solid $color-primary;
			background-color: $color-primary;
			font-size: 1.4rem;
		}
	}
}
