@import '../../../../App.scss';

.header-sett {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 20%;
	padding-top: 1rem;

	&__title {
		font-family: $font-secondary;
		font-size: 5rem;
		padding: 0 0 1rem 5.5rem;
	}

	&__line {
		align-self: center;
		width: 90%;
		color: $color-blue-dark;
	}
}
