@import '../../../../App.scss';

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	&Box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 60rem;
		height: auto;
		background-color: #fff;
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	}
}
