@import '../../../../App.scss';

.personal-sett {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 90%;

	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 90%;
		height: 100%;
	}

	&__title {
		justify-self: flex-start;
		width: 100%;
		height: auto;
		font-size: 2.5rem;

		@media only screen and (max-width: $bp-medium) {
			margin-bottom: 1rem;
		}
	}

	&__input-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: auto;
		margin-top: -3rem;

		& > * {
			width: 90%;
		}
	}

	&__label-country {
		padding-top: 1rem;
		font-size: 1.2rem;
		width: 100%;
	}

	&__selection {
		display: block;
		border-radius: 0.5rem;
		border: 1px solid $color-blue-dark;
		width: 90%;
		margin-top: 0.5rem;
		height: 4.2rem;
		font-size: 1.6rem;
		padding: 0 1rem;
		background: none;

		&:focus {
			outline: none;
			box-shadow: 0 1rem 2rem rgba(#000, 0.1);
			border: 2px solid $color-primary;
		}
	}

	&__label-about {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 40%;
	}

	&__input-about {
		font-size: 1.6rem;
		resize: none;
		color: $color-blue-dark;
		border: 1px solid $color-blue-dark;
		border-radius: 5px;
		font-family: $font-secondary;
		padding: 1rem;
		width: 100%;
		height: 100%;

		&::placeholder {
			font-size: 1.6rem;
			color: $color-grey-light-2;
		}

		&:focus {
			outline: none;
			box-shadow: 0 1rem 2rem rgba(#000, 0.1);
			border: 2px solid $color-primary;
		}
	}

	&__btn {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
	}
}
