@import '../../../App.scss';

.personal-sett {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 90%;

	&__title {
		font-size: 2.5rem;
		padding: 2rem 0 0 5.5rem;
	}

	&__form {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		padding-left: 6rem;

		& > * {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 30%;
			height: 25%;

			@media only screen and (max-width: $bp-medium) {
				width: 100%;
			}
		}

		@media only screen and (max-width: $bp-medium) {
			padding-left: 5rem;
		}
	}

	&__label-about {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 60%;
		height: 50%;

		@media only screen and (max-width: $bp-medium) {
			width: 100%;
		}
	}

	&__selection {
		font-family: $font-secondary;
		font-weight: 500;
		font-size: 1.4rem;
		border: 1px solid $color-blue-dark;
		border-radius: 5px;
		height: 30%;
		width: 90%;
		padding: 0 1rem;

		&:focus {
			outline: none;
			box-shadow: 0 1rem 2rem rgba(#000, 0.1);
			border: 2px solid $color-primary;
		}
	}

	&__input-about {
		resize: none;
		color: $color-blue-dark;
		border: 1px solid $color-blue-dark;
		border-radius: 5px;
		font-family: $font-secondary;
		padding: 1rem;
		width: 95%;
		height: 100%;

		&::placeholder {
			color: $color-grey-light-2;
		}

		&:focus {
			outline: none;
			box-shadow: 0 1rem 2rem rgba(#000, 0.1);
			border: 2px solid $color-primary;
		}

		@media only screen and (max-width: $bp-medium) {
			width: 90%;
		}
	}

	&__btn {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 50%;
		padding-bottom: 2rem;
	}
}
