h1 {
	font-family: $font-primary;
	font-size: 6.5rem;
	// line-height: 1rem;
}

h2 {
	font-family: $font-primary;
	font-size: 4.5rem;
}

h3 {
	font-family: $font-secondary;
	font-weight: 500;
	font-size: 2rem;
}

h4 {
	font-family: $font-primary;
	font-size: 4rem;
}

p {
	font-family: $font-secondary;
	font-weight: 400;
	font-size: 1.8rem;
}

.logo {
	font-family: $font-primary;
	font-size: 4.8rem;
	color: $color-primary;
}
